header {
    display: flex;
      justify-content: space-between;
      padding-top: .5em;
      padding-bottom: .5em;
      border-bottom: 2px solid #999999;
      background-color: rgb(3, 10, 30);
      border-radius: 0 0 10px 10px;
  }
  
  .main {
    display: flex;
      margin-top: 5px;
  }
  
  .nav h2, .nav h3, .nav a {
      color: #84919e;
  }
  
  .nav .title {
      font-size: 1.5em;
      color: rgb(202, 234, 243);
  }
  
  .main a {
      color: #d8e1e9;
      font-size: .99em;
  }
  
  .main a:hover {
      color: #6fa8e5;
  }
  
  .nav .title,
  .main a {
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
  }